{% extends "base.html.twig" %}

{% block title %}Ajouter un contact
{% endblock %}

{% block body %}

	<div class="jumbotron">
		{{ form_start( form, {'attr': {'novalidate': 'novalidate'}}
		) }}
		<div class="row mt-4">
			<div class="col">
				<div class="row">
					<div class="form-group">
						{% if form_errors(form.nom) is not empty %}
							<div class="alert alert-danger">
								{{form_errors(form.nom)}}
							</div>
						{% endif %}
						{{form_label(form.nom, "Nom : ")}}
						{{ form_widget(form.nom) }}
					</div>
				</div>
				<div class="row mt-4">
					<div class="form-group">
						{% if form_errors(form.adresse) is not empty %}
							<div class="alert alert-danger">
								{{form_errors(form.adresse)}}
							</div>
						{% endif %}
						{{form_label(form.adresse, "Adresse : ")}}
						{{ form_widget(form.adresse) }}
					</div>
				</div>
			</div>
			<div class="col">
				<div class="row">
					<div class="form-group">
						{% if form_errors(form.prenom) is not empty %}
							<div class="alert alert-danger">
								{{form_errors(form.prenom)}}
							</div>
						{% endif %}
						{{form_label(form.prenom, "Prénom : ")}}
						{{ form_widget(form.prenom) }}
					</div>
				</div>
				<div class="row mt-4">
					<div class="form-group">
						{% if form_errors(form.ville) is not empty %}
							<div class="alert alert-danger">
								{{form_errors(form.ville)}}
							</div>
						{% endif %}
						{{form_label(form.ville, "Ville : ")}}
						{{ form_widget(form.ville) }}
					</div>
				</div>
			</div>
			<div class="col">
				<div class="row">
					<div class="form-group">
						{% if form_errors(form.telephone) is not empty %}
							<div class="alert alert-danger">
								{{form_errors(form.telephone)}}
							</div>
						{% endif %}
						{{form_label(form.telephone, "Téléphone : ")}}
						{{ form_widget(form.telephone) }}
					</div>
				</div>
				<div class="row mt-4">
					<div class="form-group">
						{% if form_errors(form.age) is not empty %}
							<div class="alert alert-danger">
								{{form_errors(form.age)}}
							</div>
						{% endif %}
						{{form_label(form.age, "Âge : ")}}
						{{ form_widget(form.age) }}
					</div>
					<div class="form-group">
						{% if form_errors(form.Category) is not empty %}
							<div class="alert alert-danger">
								{{form_errors(form.Category)}}
							</div>
						{% endif %}
						{{form_label(form.Category, "Catégorie : ")}}
						{{ form_widget(form.Category) }}
					</div>
				</div>
			</div>
		</div>
		{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}})}}
		{{ form_end(form) }}
	</div>
{% endblock %}

