{% extends 'base.html.twig' %}

{% block title %}My Agenda{% endblock %}

{% block body %}

{% if app.user == null %}
  <a type="button" class="btn btn-primary" href="{{path('app_register')}}">S'inscrire</a>
  <a type="button" class="btn btn-primary" href="{{path('app_login')}}">Se connecter</a>
{% endif %}


{% if app.user %}
    <div class="mb-3">
      <p> Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a></p>
    </div>
{% endif %}

{% for message in app.flashes('notice') %}
  <div class="alert alert-success" role="alert">
    {{ message }}
  </div>
{% endfor %}

<table class="table table-dark table-striped mt-3">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Téléphone</th>
      <th scope="col">Catégorie</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  {% for contact in contacts %}
     <tr>
      <th scope="row">{{contact.id}}</th>
      <td>{{contact.nom}}</td>
      <td>{{contact.prenom}}</td>
      <td>{{contact.telephone}}</td>
      <td>{{contact.Category.title}}</td>
      <td>
        <a href={{ path('contact',{'id': contact.id })}} type="button" class="btn btn-info">Afficher</a>
      {% if app.user %}  <a href={{ path('UpdateContact',{'id': contact.id })}} type="button" class="btn btn-warning">Modifier</a> {% endif %}
      {% if app.user %}  <a href={{ path('DeleteContact',{'id': contact.id })}} type="button" class="btn btn-danger">Supprimer</a> {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
