{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
    <div class="row my-4">
        <div class="form-group mx-3"> {{ form_row(registrationForm.email) }}</div>
        <div class="form-goup">
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password : '
            }) }}
        </div>
    </div>
    <div class="form-group">  {{ form_row(registrationForm.agreeTerms) }}</div>
      

        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
